
@{
    ViewData["Title"] = "FanSites";
}

<div class="text-center">
    <h1>Other Pages and Fan Pages</h1>
    <p>Feel free to check out these other Celeste sites.</p>

    <!--Fan Page Links-->
    <div class="navigation">
        <a href="https://celestegame.fandom.com/wiki/Celeste_Wiki" class="btn btn-info mr-2">Celeste Wiki</a>
        <a href="https://discord.com/invite/celeste" class="btn btn-info mr-2">Celeste Discord</a>
    </div>

</div>

