
@{
    ViewData["Title"] = "Source";
}
<div class="text-center">
    <h1>Sources</h1>
    <p>You can find sources of information about Celeste in the links below</p>

    <!--Sub-page Links-->
    <div class="navigation m-0">
        <a href="@Url.Action("FanSites", "Source")" class="btn btn-info mr-2">Other Fan Sites</a>
        <a href="@Url.Action("News", "Source")" class="btn btn-info mr-2">News</a>
    </div>

</div>
