
@{
    ViewData["Title"] = "News";
}
<div class="text-center">
    <h1>News</h1>
</div>

<p>Celeste <a href="https://www.celestegame.com/">official website</a>.</p>
<p>Celeste <a href="https://x.com/celeste_game">official twitter</a>.</p>

