@{
    ViewData["Title"] = "Speed";
}

<div class="text-center">
    <h1>Speedrunning</h1>
    <p>Speedrunning is a big part of the celeste community, and the game even has a built in speedrun clock.</p>

    <div class="navigation">
        <a href="https://www.speedrun.com/celeste" class="btn btn-info mr-2">Celeste Speedrun Records</a>
    </div>

</div>