@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Celeste</h1>
    <p>Celeste is a 2d platforming game about a girl named Madeline climbing Celeste Mountain.</p>
    <!--Sub-page Links-->
    <div class="navigation m-0">
        <a href="@Url.Action("History", "Home")" class="btn btn-info mr-2">History</a>
        <a href="@Url.Action("Stories", "Home")" class="btn btn-info mr-2">Stories</a>
    </div>
</div>
