@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Celeste</h1>
    <p>This is a site about a game about a girl named celeste climbing a mountain called madeline</a>.</p>
</div>
